<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about" style="color: yellow;">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <h1>About Us</h1>

    <div class="about-card">
        <p>
            Welcome to <b>People's Store!</b><br><br>

            We provide quality electronic products at affordable prices.<br><br>

            Our mission is to deliver the best shopping experience with
            high-quality products, secure payments, and fast delivery.<br><br>

            Customer satisfaction is our first priority.
        </p>
    </div>

</body>
</html>